<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Mr. Fox</title>
</head>
<body>
<ul>
  <li><a href="http://www.google.com">Information</a></li>
  <li><a href="/nutrition">Nutrition Store</a></li>
  <img th:src="'greenfox.png'"/>
</ul>
<p th:object="${fox}" th:text="'This is ' + *{name} + '. Currently living on ' + *{food} + ' and ' + *{drink} + '. He knows ' + *{getTrickNumber()}+ ' tricks'"></p>
<h1>Known tricks</h1>
<!--<p th:text="*{getTrickNumber()} == null ? 'He knows no tricks yet. Dummy.' : ''"></p>
<ul th:each="trick: ${fox.listOfTricks}">
  <li th:text="${trick.name}"></li>
</ul>-->
</body>
</html>