<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <meta charset="UTF-8"/>
  <title>Assignees</title>
</head>
<body>
<table border="1">
    <thead>
      <th th:text="'SECURITY LVL:GODLIKE'"></th>
      <th th:text="'NAME'"></th>
      <th th:text="'E-MAIL ADDRESS'"></th>

    </thead>
    <tbody th:each="assignee : ${assignees}">
      <td type="hidden" th:field="${assignee.id}"></td>

      <td> <a th:href="@{/assignees/todos/list/{id}(id=${assignee.id})}" th:text="${assignee.name}"> </a></td>

      <td th:text="${assignee.eMail}" ></td>
      <td><a th:href="@{/assignees/editAssignee/{id}(id=${assignee.id})}">Edit</a></td>
      <td>
        <form th:action="@{/assignees/deleteAssignee/{id}(id=${assignee.id})}" method="post">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tbody>
  </table>
<a th:href="@{/assignees/addAssignee}">Add new Assignee</a>
<br/>
<a th:href="@{/todo/list}">Go to todo editor</a>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>