<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <meta charset="UTF-8"/>
  <title>Edit todo</title>
</head>
<body>
<h1 th:text="'Edit ' + ${editTodo.title}">Edit Todo</h1>
<form th:action="@{/todo/list/updateTodo}" th:object="${editTodo}" method="post">
  <input type="hidden" th:field="*{id}"/>

  <label for="name of todo">Name of todo:</label>
  <input type="text" id="name of todo" th:field="*{title}"/>
  <br/>

  <input type="checkbox" id="completeness" th:field="*{isDone}"/>
  <label for="completeness">Check if complete</label>
  <br/>

  <input type="checkbox" id="urgency" th:field="*{isUrgent}"/>
  <label for="urgency">Check if urgent</label>
  <br/>

  <p>
    <select th:field="*{assignee}">
    <option th:each="assignee : ${listOfAssignees}" th:text="${assignee.name}" th:value="${assignee.id}"></option>
  </select>
  </p>
  <br/>

  <button type="submit" value="Submit">Submit</button>
</form>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>