<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <meta charset="UTF-8"/>
  <title>Edit assignee data</title>
</head>
<body>
<form th:action="@{/assignees/updateAssignee}" th:object="${editAssignee}" method="post">
  <input type="hidden" th:field="*{id}"/>

  <label for="name of assig">Name of Assignee:</label>
  <input type="text" id="name of assig" th:field="*{name}"/>
  <br/>

  <label for="email of assig">E-mail of Assignee:</label>
  <input type="text" id="email of assig" th:field="*{eMail}"/>
  <br/>

  <button type="submit" value="Submit">Submit</button>
</form>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>