<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Posts</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<a th:href="@{/posts/add}">Add new post</a>
<h1>Posts</h1>
<table border="1">
  <tr>
    <th></th>
    <th th:text="'SCORE'"></th>
    <th th:text="'Actions'"></th>
    <th th:text="'Content'"></th>
    <th th:text="'Date'"></th>
  </tr>
  <tr th:each="post: ${posts}" th:object="${post}">
    <td type="hidden" th:field="${post.id}"></td>
    <td th:text="*{score}"></td>
    <td>
      <a th:href="@{/posts/upvote/{id}(id=${post.id})}">+</a>
      <a th:href="@{/posts/downvote/{id}(id=${post.id})}">-</a>
    </td>
    <td th:text="*{content}"></td>
    <td th:text="${post.getCreatedAt()}"></td>
  </tr>
</table>
<p th:text="${nrOfRows}"></p>
<ul>
  <li th:if="${pageId} &gt; 0"><a th:href="@{'/posts/?pageId={id}'(id=${pageId - 1})}">Previous</a></li>
  <li th:if="${pageId} &lt; (${nrOfRows} / 10 - 1)"><a th:href="@{'/posts/?pageId={id}'(id=${pageId + 1})}">Next</a></li>
</ul>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
