<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Posts</title>
</head>
<body>
<a th:href="@{/posts/add}">Add new post</a>
<h1>Posts</h1>
<table border="1">
  <tr>
    <th></th>
    <th th:text="'SCORE'"></th>
    <th th:text="'Actions'"></th>
    <th th:text="'Content'"></th>
    <th th:text="'Date'"></th>
  </tr>
  <tr th:each="post: ${posts}" th:object="${post}">
    <td type="hidden" th:field="${post.id}"></td>
    <td th:text="*{score}"></td>
    <td>
      <a th:href="@{/posts/upvote/{id}(id=${post.id})}">+</a>
      <a th:href="@{/posts/downvote/{id}(id=${post.id})}">-</a>
    </td>
    <td th:text="*{content}"></td>
    <td th:text="${post.getCreatedAt()}"></td>
  </tr>
</table>
<p th:text="${nrOfRows}"></p>
</body>
</html>
