.twoquaters {
    width: 350px;
    height: 516px;
}

.North,
.South {
    width: 350px;
    height: 250px;
    line-height: 125px;
    font-size: 36px;
    color: white;
    font-family: Helvetica, Courier, sans-serif;
    font-weight: 100;
    border: rgb(66, 133, 244) 15px solid;
    margin: 5px;
}

.North {
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(230, 118, 118);
}

.South {
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(169, 230, 230);
}