<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise #</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>
<body>
<table th:style="'color:green'" border="1" style="width:300px" >
  <tr th:style="'background-color:lime'">
    <th th:text="'NAME'" th:style="'font-size:40px'"></th>
    <th th:text="'BALANCE'" th:style="'font-size:40px'"></th>
    <th th:text="'ANIMAL TYPE'" th:style="'font-size:40px'"></th>
    <th th:text="'INDEX'" th:style="'font-size:40px'"></th>
    <th th:text="'KINGSTATUS'" th:style="'font-size:40px'"></th>
    <th th:text="'GOOD OR BAD'" th:style="'font-size:40px'"></th>
  </tr>
<tr th:each="bankAccount: ${bankAccounts}" th:style="${bankAccount.isKing()} ? 'color:orange'">
  <td th:text="${bankAccount.getName()}" th:style="'font-size:20px'"></td>
  <td th:text="${bankAccount.balanceToString()}" th:style="'font-size:20px'"></td>
  <td th:text="${bankAccount.getAnimalType()}" th:style="'font-size:20px'"></td>
  <td th:text="${bankAccountStat.index + 1}" th:style="'font-size:20px; text-align:center'"></td>
  <td th:text="${bankAccount.isKing()} ? 'king' : 'not king'" th:style="'font-size:20px; text-align:center'"></td>
  <td th:text="${bankAccount.isGoodGuy()} ? 'good guy' : 'bad guy'" th:style="'font-size:20px; text-align:center'"></td>
</tr>
</table>
<form action="#" th:action="@{/raise}" th:each="account : ${bankAccounts}" th:object="${account}" method="POST">
  <button th:text="'Raise the balance'" type="submit" th:formaction="${account.raiseWithTen()}"></button>
</form>
</body>
</body>
</html>